# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

launch.json
app/.qtcreator/project.json
.DS_Store
app/.qtcreator/project.json.user